body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3163a;
  min-width: 500px;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  height: 500px;
  width: 800px;
  max-width: 800px;
}

#pokedex-bezel{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  border-bottom-left-radius: 15%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid black;
}

#pokedex-screen{ 
 width: 85%;
 height: 80%;
 margin-top: 25px;
 background-color: #36454F;
 display: flex; 
 flex-direction: row;
 border: 1px solid black;

}

#picture-name-display{
  width: 60%;
  display: flex;
  flex-direction: column;
}

#name-id{
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 15px;
}

#pokemon-name{
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 30px;
}

#pokemon-id{
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 10px;
}

#pokemon-size{
  height: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#weight{
  font-family: sans-serif;
  font-size: 20px;
}

#height{
  font-family: sans-serif;
  font-size: 20px;
}

#pokemon-sprite{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stats-display{
  width: 40%;
  display: flex;
  flex-direction: column;
}

#stats-table{
  display: none;
}

tr{
  width: 100%;
}

td{
  width: 150px;
  max-width: 150px;
  overflow: none;
  background-color: #F1FAEE;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}

#types{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  margin-top: 20px;
}

.type{
  width: 75px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  font-style: sans-serif;
  color: #fcffff;
}

#pokedex-bottom{
  height: 7%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

#red-circle{
  border: 2px solid red;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: red;
  margin-left: 55px;

}

#speaker-container{
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-right: 60px;
}

.speaker-line{
  border: 1px solid black;
  width: 100%;
}

.normal{
  background-color: #9fa19f
}
.fighting{
  background-color: #f98428
}
.flying{
  background-color: #85b8ec
}
.poison{
  background-color: #9059b2
}
.ground{
  background-color: #8e5328
}
.rock{
  background-color: #afa984
}
.bird{
  background-color: #6d9f90
}
.bug{
  background-color: #93a02f
}
.ghost{
  background-color: #9a7d9b
}
.steel{
  background-color: #66a0b6
}
.fire{
  background-color: #df3531
}
.water{
  background-color: #3280ea
}
.grass{
  background-color: #4ca036
}
.electric{
  background-color: #f7c134
}
.psychic{
  background-color: #e84a7a
}
.ice{
  background-color: #51cdf0
}
.dragon{
  background-color: #4f61dc
}
.dark{
  background-color: #614d4e
}
